/*This file contains the style attributes for html elements of website*/
head{
    background-color: blue;
}


#nav-links{
    background-color: rgb(54, 54, 54);
    text-align:center;
}
#nav-links ul li{
    list-style:none;
    display: inline-block;
    padding:5px 10px;
    margin: 5px 0;
    background-color: rgb(156, 156, 156);
}
#nav-links ul li a{
    color: #fff;
    text-decoration:none;
    font-size: 15px;
}

#nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:#00000081;
    display:block;
    margin:auto;
    transition: 0.5s;
}

#nav-links ul li:hover::after{
    width:100%;

}

.main-home {
    background-color: rgb(202, 202, 202);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-row-gap:10px;
    grid-column-gap:10px;
    margin:0 20%;
}

.main-home section{
    background-color: rgb(190, 190, 190);
    text-align: center;
}

#description-home{
    grid-column:1/2;
    grid-row:1/4;
}

#description-home img{
    border-radius: 40%;
    height:100px;
    width:100px;
}

#description-home p{
    text-align: center;
}

#description-home a{
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    color:black;
}

#description-home a:hover{
    background-color: rgb(109, 169, 224);
}


#about-me{
    grid-column:2/4;
    grid-row:1/2;
    top:0;
}

#research-interests{
    grid-column:2/4;
    grid-row:2/3;
    top:0;
}

#education{
    grid-column:2/4;
    grid-row:3/4;
    top:0;
}

@media (max-width:1000px){
    .main-home {
        background-color: rgb(202, 202, 202);
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap:10px;
        grid-column-gap:10px;
        margin:0 200px;
    }
     
    #description-home{
        grid-column:1/4;
        grid-row:1/2;
    }
    
    #about-me{
        grid-column:1/4;
        grid-row:2/3;
    }
    
    #research-interests{
        grid-column:1/4;
        grid-row:3/4;
    }
    
    #education{
        grid-column:1/4;
        grid-row:4/5;
    }
    
}


@media (max-width:700px){
    .main-home {
        background-color: rgb(202, 202, 202);
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap:10px;
        grid-column-gap:10px;
        margin:0 0;
    }
}

/*Following code is for research/projects part of site*/
.main-research_publications{
    background-color: rgb(202, 202, 202);
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr  ;
    grid-row-gap:10px;
    grid-column-gap:10px;
    margin:0 20%;
}

.main-research_publications section{
    background-color: rgb(190, 190, 190);
    text-align: center;
}


#research-projects{
    grid-column:1/3;
    grid-row:1/2;
}

#publications{
    grid-column:1/3;
    grid-row:2/3;
}

/*Following code is for personal projects part of site*/
#personalprojects-title{
    text-align: center;
}
.main-personalprojects{
    background-color: rgb(202, 202, 202);
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr  ;
    grid-row-gap:10px;
    grid-column-gap:10px;
    margin:0 10%;
}

.main-personalprojects section{
    background-color: rgb(190, 190, 190);
    text-align: center;
}

#personalprojects{
    grid-column:1/3;
    grid-row:1/3;
}

#projects-list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap:5px;
}

#projects-list div{
    grid-column:span 1;
    background-color: rgb(114, 114, 114);
}

#projects-list div h3{
    color: rgb(88, 182, 182);
}

#projects-list div img{
    width:100%;
    margin: 0 auto;
}

/*Following code is for Courses part of site*/
.main-courses{
    background-color: rgb(202, 202, 202);
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr  ;
    grid-row-gap:10px;
    grid-column-gap:10px;
    margin:0 20%;
}

.main-courses section{
    background-color: rgb(190, 190, 190);
    text-align: center;
}

.main-courses section ul{
    list-style-position: inside;
}

#washu-courses{
    grid-column:1/3;
    grid-row:1/2;
}

#asu-courses{
    grid-column:1/3;
    grid-row:2/3;
}
