/*This file contains the style attributes for html elements of website*/

body {
    background-color: #fff;
}

.nav-links{
    background-color: rgb(192, 190, 190);
    text-align:center;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding:5px 10px 10px 5px
}
.nav-links ul li a{
    color: #fff;
    text-decoration:none;
    font-size: 15px;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:#77736681;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;

}


.homepage-title{
    color: #fff;
    background-image: url(images/image4.jpg);
    padding: 5% 5% 5% 5%;
    text-align: center;
    font-size:25px;
}

.homepage-introduction{
    background-color:grey;
    color: #fff;
    padding-bottom: 135px;
}

.homepage-introduction img{
    width:200px;
    height:200px;
    border-style: solid;
    border-color:#fff;
    border-width: 1px;
    border-radius: 50%;
    float:left;
    display:inline;
}

.homepage-introduction p{
    font-size: 16px;
    margin: 25px 25px 25px 25px ;
    display:inline;
    padding-left: 50px
}

.socialmedia-links{
    padding: 10px 10px 10px 10px;
    margin-top:20px;
    margin-right: 30px;
    background-color: red;
}

.aboutpage-education h2{
    text-align: center;
    font-size:25px;
}

.aboutpage-education p{
    text-align: center;
    font-size: 18px;
}

.aboutpage-skills h2{
    text-align: center;
    font-size: 25px;
}

.aboutpage-skills{
    text-align: center;
}

.aboutpage-skills ul{
    text-align:left;
}
.publications-list{
    text-align: center;
}